.chooser {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.option {
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  background: white;
  border: black solid 1px;
  border-radius: 8px;
  color: black;
  flex: 1 0;
  margin-right: 5px;
}
.selected {
  background: black;
  color: white;
}